h1::before {
    content: "🎃";
    font-size: 30px;
}

button {
    all: unset;
    background-color: rgb(255, 149, 0);
    user-select: none;
    border-radius: 5px;
    box-shadow: 0px 0px 4px #000 inset;
    padding: 3px 10px;
    text-shadow: 0px 0px 2px #fff;
    font-weight: bold;
}

button:active {
    background-color: rgb(254, 198, 93);
}

input {
    width: 100%;
    margin-bottom: 10px;
}